<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
    <div id="footer-count">
      <div id="view-count">
        조회수 : <span id="busuanzi_value_site_pv"></span>
      </div>
      <div id="visitor-count">
        총 방문자 : <span id="busuanzi_value_site_uv"></span>
      </div>
    </div>
  </div>
</footer>